/* GitHub Dark */
:root {
    --main-bg: #24292e;
    --bg-text: rgba(56, 58, 61, 0.35);
    --text-color: #efefef;
    --accent-color: #f9826c;
    --accent-color-rgb: 249, 130, 108;
    --titlebar-bg: #1f2428;
    --sidebar-bg: #24292e;
    --sidebar-hover-bg: #1f2428;
    --explorer-bg: #1f2428;
    --explorer-hover-bg: #24292e;
    --explorer-border: #161a1d;
    --tabs-bg: #1f2428;
    --tab-bg: #1f2428;
    --tab-active-bg: #24292e;
    --tab-border: #24292e;
    --bottombar-bg: #24292e;
    --bottombar-border: #1b1f23;
    --button-bg: #176f2c;
    --button-text: #dcffe4;
    --bottombar-hover-bg: #4f4f52;
    --scrollbar-track-bg: #24292e;
    --scrollbar-thumb-bg: #333536;
    --article-bg: #1f2428;
}

/* Dracula */
[data-theme='dracula'] {
    --main-bg: #282a36;
    --bg-text: #313340;
    --text-color: #f8f8f2;
    --accent-color: #bd93f9;
    --accent-color-rgb: 189, 147, 249;
    --titlebar-bg: #1e1f29;
    --sidebar-bg: #1e1f29;
    --sidebar-hover-bg: #282a36;
    --explorer-bg: #21222c;
    --explorer-hover-bg: #2d2f3d;
    --explorer-border: #2d2f3d;
    --tabs-bg: #191a21;
    --tab-bg: #21222c;
    --tab-active-bg: #282a36;
    --tab-border: #2d2f3d;
    --bottombar-bg: #191a21;
    --bottombar-border: #2d2f3d;
    --button-bg: #44475a;
    --button-text: #f8f8f2;
    --bottombar-hover-bg: #4f4f52;
    --scrollbar-track-bg: #282a36;
    --scrollbar-thumb-bg: #454647;
    --article-bg: #21222c;
}

/* Ayu Dark */
[data-theme='ayu-dark'] {
    --main-bg: #0a0e14;
    --bg-text: #101620;
    --text-color: #efefef;
    --accent-color: #e6b450;
    --accent-color-rgb: 230, 180, 80;
    --titlebar-bg: #01060f;
    --sidebar-bg: #01060f;
    --sidebar-hover-bg: #0d1117;
    --explorer-bg: #0a0e14;
    --explorer-hover-bg: #0d1117;
    --explorer-border: #1a1f29;
    --tabs-bg: #0a0e14;
    --tab-bg: #0a0e14;
    --tab-active-bg: #0a0e14;
    --tab-border: #1a1f29;
    --bottombar-bg: #0a0e14;
    --bottombar-border: #1a1f29;
    --button-bg: #e6b450;
    --button-text: #0a0e14;
    --bottombar-hover-bg: #4f4f52;
    --scrollbar-track-bg: #0a0e14;
    --scrollbar-thumb-bg: #454647;
    --article-bg: #10121a;
}

/* Ayu Mirage */
[data-theme='ayu-mirage'] {
    --main-bg: #1f2430;
    --bg-text: #21242b;
    --text-color: #efefef;
    --accent-color: #e6b450;
    --accent-color-rgb: 230, 180, 80;
    --titlebar-bg: #171b24;
    --sidebar-bg: #171b24;
    --sidebar-hover-bg: #1f2430;
    --explorer-bg: #1f2430;
    --explorer-hover-bg: #242b38;
    --explorer-border: #2a3342;
    --tabs-bg: #1f2430;
    --tab-bg: #1f2430;
    --tab-active-bg: #1f2430;
    --tab-border: #2a3342;
    --bottombar-bg: #1f2430;
    --bottombar-border: #2a3342;
    --button-bg: #e6b450;
    --button-text: #1f2430;
    --bottombar-hover-bg: #4f4f52;
    --scrollbar-track-bg: #1f2430;
    --scrollbar-thumb-bg: #454647;
    --article-bg: #252e3d;
}

/* Nord */
[data-theme='nord'] {
    --main-bg: #2e3440;
    --bg-text: #3b414d;
    --text-color: #efefef;
    --accent-color: #88c0d0;
    --accent-color-rgb: 136, 192, 208;
    --titlebar-bg: #242933;
    --sidebar-bg: #242933;
    --sidebar-hover-bg: #2e3440;
    --explorer-bg: #2e3440;
    --explorer-hover-bg: #3b4252;
    --explorer-border: #3b4252;
    --tabs-bg: #2e3440;
    --tab-bg: #2e3440;
    --tab-active-bg: #3b4252;
    --tab-border: #3b4252;
    --bottombar-bg: #3b4252;
    --bottombar-border: #3b4252;
    --button-bg: #434c5e;
    --button-text: #d8dee9;
    --bottombar-hover-bg: #4f4f52;
    --scrollbar-track-bg: #2e3440;
    --scrollbar-thumb-bg: #454647;
    --article-bg: #363f50;
}

/* Night Owl */
[data-theme='night-owl'] {
    --main-bg: #011627;
    --bg-text: #031d33;
    --text-color: #d6deeb;
    --accent-color: #c792ea;
    --accent-color-rgb: 199, 146, 234;
    --titlebar-bg: #010e1a;
    --sidebar-bg: #010e1a;
    --sidebar-hover-bg: #011627;
    --explorer-bg: #011627;
    --explorer-hover-bg: #01203e;
    --explorer-border: #01203e;
    --tabs-bg: #011627;
    --tab-bg: #01111d;
    --tab-active-bg: #0b2942;
    --tab-border: #01203e;
    --bottombar-bg: #011627;
    --bottombar-border: #01203e;
    --button-bg: #c792ea;
    --button-text: #011627;
    --bottombar-hover-bg: #1b222f;
    --scrollbar-track-bg: #011627;
    --scrollbar-thumb-bg: #043254;
    --article-bg: #031d33;
}