.cardTimeCloud {
    position: relative;
    border-radius: 1em;
    width: 17.5em;
    height: 8em;
    z-index: 2;
    border: solid 0.15em var(--color1);
    transition: 0.5s all ease-in-out;
    box-shadow: 0em 0em rgb(0, 0, 0, 0.25);
    overflow: hidden;
    --color1: rgb(237, 120, 42);
    --skycolor: #ffffff;
}

.cardTimeCloudFront {
    width: 20em;
    height: 12.5em;
    background: rgb(228, 228, 228);
    border-radius: 1em;
    position: absolute;
    z-index: 2;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s all ease-in-out;
}

.cardTimeCloudBack {
    width: 20em;
    height: 17.5em;
    background: var(--skycolor);
    border-radius: 1em;
    position: absolute;
    z-index: 1;
    top: 57.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s all ease-in-out;
}

.cardTimeCloud:hover {
    margin-bottom: 1em;
    box-shadow: 0em 1em rgb(237, 120, 42, 0.5);
}

.cardTimeCloud:hover .cardTimeCloudFront {
    top: 105%;
}

.cardTimeCloudBack svg {
    position: absolute;
    z-index: 1;
    top: -16.45em;
    left: -7.5em;
    width: 25em;
    height: auto;
    opacity: 100%;
    animation: rotateCloud 15s linear infinite;
}

.cardTimeCloudBack svg:nth-child(2) {
    animation: rotateCloud 15s linear infinite 1s;
    opacity: 50%;
}

@keyframes rotateCloud {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.cardTimeCloudDay {
    color: var(--color1);
    position: absolute;
    z-index: 3;
    top: 1.25em;
    left: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
    transition: 0.5s all ease-in-out;
    margin: 0;
}

.cardTimeCloudDayNumber {
    color: var(--color1);
    position: absolute;
    z-index: 3;
    top: 3em;
    left: 0.65em;
    font-size: 1.25em;
    transition: 0.5s all ease-in-out;
    font-weight: 500;
    margin: 0;
}

.cardTimeCloudHour {
    color: var(--color1);
    position: absolute;
    z-index: 3;
    top: 1.25em;
    right: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
    transition: 0.5s all ease-in-out;
    margin: 0;
}

.cardTimeCloud:hover {
    height: 15em;
}

.cardTimeCloud:hover .cardTimeCloudDay {
    top: 2.25em;
}

.cardTimeCloud:hover .cardTimeCloudDayNumber {
    top: 4em;
}

.cardTimeCloud:hover .cardTimeCloudHour {
    top: 1em;
    font-size: 3em;
}

.cardTimeCloudIcon svg {
    position: absolute;
    z-index: 4;
    top: 4em;
    right: 0.6em;
    transform: rotate(0deg);
    width: 1.5em;
    height: auto;
    transition: 0.5s all ease-in-out;
}

.cardTimeCloud:hover .cardTimeCloudIcon svg {
    top: 7.25em;
    right: -1.75em;
    width: 7.5em;
    height: auto;
    transform: rotate(-35deg);
}

.cardTimeCloud:active {
    transition: 0.25s all ease-in-out;
    transform: scale(0.95);
}

.cardTimeCloud:active .cardTimeCloudFront {
    transition: 0.25s all ease-in-out;
    top: 120%;
    background-color: var(--color1);
}

.cardTimeCloud:active .cardTimeCloudIcon svg {
    transition: 0.25s all ease-in-out;
    top: 8em;
    transform: rotate(-25deg);
    stroke: #4a4b55;
}